.root{
    position: relative;
    width: 100%;
}
.relative{
    position: relative;
}
.flex{
    flex: 1;
}
right{
    text-align: right;
    display: block;
}
left{
    text-align: left;
    display: block;
}
a{
    text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
    background-color: white !important;
}